<%= javascript_include_tag 'page_specific_scripts/controller_unit_edit_project.js' %>
<%= stylesheet_link_tag 'jquery-ui.css' %>
<%= stylesheet_link_tag 'page_specific_styles/controller_unit_edit_project.css' %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"><%=t :project, scope: [:activerecord, :models], count: 1 %></a>
  </div>
</div>
<div class="well">
  <div id="tabs">
    <ul>
      <li><a href="#tab-project-overview"><%=t :project_overview %></a></li>
      <li><a href="#tab-project-planning"><%=t :project_planning %></a></li>
      <li><a href="#tab-project-resolutions"><%=t :project_resolution %></a></li>
      <li><a href="#tab-project-calculation"><%=t :project_calculation %></a></li>
      <li><a href="#tab-project-status"><%=t :project_status %></a></li>
    </ul>
    <div id="tab-project-overview">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div class="column1">
            <div><%=t :project_id %> <%= @project.id %></div>
            <div>
              <%= f.label :short_name %>
              <%= f.text_field :short_name %>
            </div>
            <div>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div>
              <%= f.label :head_id %>
              <%= f.collection_select(:head_id, User.all, :id, :name_and_business_code, {}, {:class => 'chosen-select'}) %>
            </div>
            <div>
              <%= f.label :customer_id %>
              <%= f.collection_select(:customer_id, Customer.all, :id, :name) %>
            </div>
            <div>
              <%= f.label :is_strategic %>
              <%= f.check_box :is_strategic %>
            </div>
            <div>
              <%= f.label :is_project %>
              <%= f.check_box :is_project %>
            </div>
            <div>
              <%= f.label :indicator_ids, t(:indicators) %>
              <%= f.collection_select(:indicator_ids, Indicator.all, :id, :name, {}, {:multiple => 'multiple', :class => 'chosen-select'}) %>
            </div>
        </div>
        <div class="column2">
            <div>
              <%= f.label :management_summary %>
              <%= f.text_area :management_summary %>
            </div>
            <div>
              <%= f.label :description_of_objectives %>
              <%= f.text_area :description_of_objectives %>
            </div>
        </div>
        <%= f.submit %>
        <%= cancel_edit_project_link %>
      <% end %>
    </div>
    <div id="tab-project-planning">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div class="column1">
          <div>
            <%= f.label :startDate %>
            <%= f.text_field :startDate, :class => 'date-field' %>
          </div>
          <div>
            <%= f.label :is_subproject %>
            <%= f.check_box :is_subproject %>
          </div>
          <div>
            <%= f.label :target_manp %>
            <%= f.text_field :target_manp %>
            <span class="unit"><%=t :unit_man_months %></span>
          </div>
          <div>
            <%= f.label :target_cost %>
            <%= f.text_field :target_cost %>
            <span class="unit"><%=t :unit_thousands %></span>
          </div>
        </div>
        <div class="column2">
          <div>
            <%= f.label :notes %>
            <%= f.text_area :notes %>
          </div>
        </div>
        <%= f.submit %>
        <%= cancel_edit_project_link %>
        <div>
          Here should be the complex gantt diagram showing activities.
        </div>
      <% end %>
    </div>
    <div id="tab-project-resolutions">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div class="column1">
          <div>
            <%= f.label :decision_requirements_1 %>
            <%= f.text_area :decision_requirements_1 %>
          </div>
          <div>
            <%= f.label :decision_requirements_2 %>
            <%= f.text_area :decision_requirements_2 %>
          </div>
          <div>
            <%= f.label :decision_requirements_3 %>
            <%= f.text_area :decision_requirements_3 %>
          </div>
          <div>
            <%= f.label :decision_requirements_4 %>
            <%= f.text_area :decision_requirements_4 %>
          </div>
          <%= f.submit %>
          <%= cancel_edit_project_link %>
        </div>
        <div class="column2">
          <div>
            <%= f.label :scope %>
            <%= f.text_area :scope %>
          </div>
          <div>
            <%= f.label :obstacles_and_risks %>
            <%= f.text_area :obstacles_and_risks %>
          </div>
          <div>
            <%= f.label :open_issues %>
            <%= f.text_area :open_issues %>
          </div>
          <div>
            <table>
              <tr>
                <th><%=t :documents %></th>
              </tr>
              <% @project.documents.each do |filename| %>
              <tr>
                <td><%= link_to filename, "/#{Document::PROJECT_DOCUMENT_FOLDER}/#{@project.id}/#{url_encode(filename)}", :target => '_blank' %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
      <%= form_tag(project_documents_path(@project), :multipart => true) %>
        <div id="document-upload">
          <%= file_field 'document', 'data' %>
          <%= submit_tag t(:upload_document), disabled: true %>
        </div>
      </form>
    </div>
    <div id="tab-project-calculation">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <div>
            <%= f.label :mid_term_planning %>
            <%= f.check_box :mid_term_planning %>
          </div>
          <div>
            <%= f.label :compensation %>
            <%= f.check_box :compensation %>
          </div>
          <%= f.submit %>
          <%= cancel_edit_project_link %>
          <h2><%=t :calculation %></h2>
          <table>
            <tr>
              <th></th>
              <% @project.next_years.each do |y| %>
              <th><%= y %></th>
              <% end %>
            </tr>
            <% @project.calculation_data.each do |d| %>
            <%= calculation_row d[:row_type] %>
              <td><%= d[:text] %></td>
              <% d[:values].each do |v| %>
                  <td><%= v %></td>
              <% end %>
            </tr>
            <% end %>
          </table>
      <% end %>
    </div>
    <div id="tab-project-status">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <%# This data is used in the JavaScript: %>
          <%= content_tag :div,  nil, id: 'updates-requested', data: {'flag' => @project.updates_requested} %>
          <div>
            <h2><%=t :status_monitoring_heading, year: @project.next_years.first %></h2>
            <table>
              <tr>
                <th><%=t :project_data %></th>
                <th><%=t :target %></th>
                <th><%=t :current %></th>
                <th><%=t :progress %></th>
                <th><%=t :status %></th>
                <th><%=t :gsi %></th>
              </tr>
              <% @project.status_data.each do |d| %>
              <tr>
                <td><%= d[:text] %></td>
                <td><%= d[:target] %></td>
                <td><%= d[:current] %></td>
                <td>
                  <progress max="100" value="<%=h d[:progress] %>">
                    <strong><%=t :progress_placeholder, percent_value: d[:progress] %></strong>
                  </progress>
                </td>
                <td>
                  <div class="signal-light <%=h d[:status] %>"></div>
                </td>
                <td>
                  <%# Cannot use check_box_tag here, because it produces an empty id attribute when nil is passed (-> invalid HTML5) (Rails 3.2.11) %>
                  <input type="checkbox" disabled <%= 'checked' if d[:gsi] %>>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
          <div>
            <%= f.label :status_notes %>
            <%= f.text_area :status_notes %>
          </div>
          <%= f.submit %>
          <%= cancel_edit_project_link %>
      <% end %>
    </div>
  </div>
</div>
