<%= javascript_include_tag 'controller_unit_edit_project.js' %>
<%= stylesheet_link_tag 'jquery-ui.css' %>
<%= stylesheet_link_tag 'controller_unit_edit_project.css' %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Project</a>
  </div>
</div>
<div class="well">
  <div id="tabs">
    <ul>
      <li><a href="#tab-project-overview">Overview</a></li>
      <li><a href="#tab-project-planning">Project Planning</a></li>
      <li><a href="#tab-project-resolutions">Resolution</a></li>
      <li><a href="#tab-project-calculation">Economic Efficiency Calculation</a></li>
      <li><a href="#tab-project-status">Status</a></li>
    </ul>
    <div id="tab-project-overview">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div class="column1">
            <div>Project ID <%= @project.id %></div>
            <div>
              <%= f.label :short_name %>
              <%= f.text_field :short_name %>
            </div>
            <div>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div>
              <%= f.label :head %>
              <%= f.collection_select(:head, User.all, :id, :name_and_business_code, {}, {:class => 'chosen-select'}) %>
            </div>
            <div>
              <%= f.label :customer %>
              <%= f.collection_select(:customer, Customer.all, :id, :name) %>
            </div>
            <div>
              <%= f.label :is_strategic_management %>
              <%= f.check_box :is_strategic_management %>
            </div>
            <div>
              <%= f.label :is_project %>
              <%= f.check_box :is_project %>
            </div>
            <div>
              <%= f.label :indicators %>
              <%= f.collection_select(:indicators, Indicator.all, :id, :name, {}, {:multiple => 'multiple', :class => 'chosen-select'}) %>
            </div>
        </div>
        <div class="column2">
            <div>
              <%= f.label :management_summary %>
              <%= f.text_area :management_summary %>
            </div>
            <div>
              <%= f.label :description_of_objectives %>
              <%= f.text_area :description_of_objectives %>
            </div>
        </div>
        <%= f.submit %>
        <%= cancel_edit_project_link %>
      <% end %>
    </div>
    <div id="tab-project-planning">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div class="column1">
          <div>
            <%= f.label :startDate %>
            <%= f.text_field :startDate, :class => 'date-field' %>
          </div>
          <div>
            <%= f.label :is_subproject %>
            <%= f.check_box :is_subproject %>
          </div>
          <div>
            <%= f.label :target_manp %>
            <%= f.text_field :target_manp %>
            <span class="unit">man months</span>
          </div>
          <div>
            <%= f.label :target_cost %>
            <%= f.text_field :target_cost %>
            <span class="unit">thousands (money)</span>
          </div>
        </div>
        <div class="column2">
          <div>
            <%= f.label :notes %>
            <%= f.text_area :notes %>
          </div>
        </div>
        <%= f.submit %>
        <%= cancel_edit_project_link %>
        <div>
          Here should be the complex gantt diagram showing activities.
        </div>
      <% end %>
    </div>
    <div id="tab-project-resolutions">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div class="column1">
          <div>
            <%= f.label :decision_requirements_1 %>
            <%= f.text_area :decision_requirements_1 %>
          </div>
          <div>
            <%= f.label :decision_requirements_2 %>
            <%= f.text_area :decision_requirements_2 %>
          </div>
          <div>
            <%= f.label :decision_requirements_3 %>
            <%= f.text_area :decision_requirements_3 %>
          </div>
          <div>
            <%= f.label :decision_requirements_4 %>
            <%= f.text_area :decision_requirements_4 %>
          </div>
          <%= f.submit %>
          <%= cancel_edit_project_link %>
        </div>
        <div class="column2">
          <div>
            <%= f.label :scope %>
            <%= f.text_area :scope %>
          </div>
          <div>
            <%= f.label :obstacles_and_risks %>
            <%= f.text_area :obstacles_and_risks %>
          </div>
          <div>
            <%= f.label :open_issues %>
            <%= f.text_area :open_issues %>
          </div>
          <div>
            <table>
              <tr>
                <th>Documents</th>
              </tr>
              <% @project.documents.each do |filename| %>
              <tr>
                <td><%= link_to filename, "/data/#{@project.id}/#{url_encode(filename)}", :target => '_blank' %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
      <%= form_tag(project_documents_path(@project), :multipart => true) %>
          <%= submit_tag 'Upload' %>
          <%= file_field 'document', 'data' %>
      </form>
    </div>
    <div id="tab-project-calculation">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <div>
            <%= f.label :mid_term_planning %>
            <%= f.check_box :mid_term_planning %>
          </div>
          <div>
            <%= f.label :compensation %>
            <%= f.check_box :compensation %>
          </div>
          <%= f.submit %>
          <%= cancel_edit_project_link %>
          <h2>Wirtschaftlichkeitsrechnung</h2>
          <table>
            <tr>
              <th></th>
              <% @project.next_years.each do |y| %>
              <th><%= y %></th>
              <% end %>
            </tr>
            <% @project.calculation_data.each do |d| %>
            <%= calculation_row d[:row_type] %>
              <td><%= d[:text] %></td>
              <% d[:values].each do |v| %>
                  <td><%= v %></td>
              <% end %>
            </tr>
            <% end %>
          </table>
      <% end %>
    </div>
    <div id="tab-project-status">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <%# This data is used in the JavaScript: %>
          <%= tag :div, {id: 'updates-requested', data: {'flag' => @project.updates_requested}}, open: true %></div>
          <div>
            <h2>Status monitoring for <%= @project.next_years.first %></h2>
            <table>
              <tr>
                <th>Project data</th>
                <th>Target</th>
                <th>Current</th>
                <th>Progress</th>
                <th>Status</th>
                <th>GSI?</th>
              </tr>
              <% @project.status_data.each do |d| %>
              <tr>
                <td><%= d[:text] %></td>
                <td><%= d[:target] %></td>
                <td><%= d[:current] %></td>
                <td>
                  <progress max="100" value="<%=h d[:progress] %>">
                    <strong>Progress: <%= d[:progress] %> percent done</strong>
                  </progress>
                </td>
                <td>
                  <div class="signal-light <%=h d[:status] %>"></div>
                </td>
                <td><input type="checkbox" disabled <%= 'checked' if d[:gsi] %>><%#= check_box_tag nil, nil, d[:gsi], disabled: true %></td>
              </tr>
              <% end %>
            </table>
          </div>
          <div>
            <%= f.label :status_notes %>
            <%= f.text_area :status_notes %>
          </div>
          <%= f.submit %>
          <%= cancel_edit_project_link %>
      <% end %>
    </div>
  </div>
</div>
