<%= javascript_include_tag 'filedrop.js' %>
<%= javascript_include_tag 'controller_unit_edit_project.js' %>
<%= stylesheet_link_tag 'jquery-ui.css' %>
<%= stylesheet_link_tag 'filedrop.css' %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Project</a>
  </div>
</div>
<div class="well">
  <div id="tabs">
    <ul>
      <li><a href="#tab-project-overview">Overview</a></li>
      <li><a href="#tab-project-planning">Project Planning</a></li>
      <li><a href="#tab-project-resolutions">Resolution</a></li>
      <li><a href="#tab-project-calculation">Economic Efficiency Calculation</a></li>
      <li><a href="#tab-project-status">Status</a></li>
    </ul>
    <div id="tab-project-overview">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
        <div>Project ID: <%= @project.id %></div>
        <div>
          <%= f.label :short_name %>
          <%= f.text_field :short_name %>
        </div>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :head %>
          <%= f.select :head, options_for_select([['user1', '1'], ['user2', '2']]) %> <!-- single, class: chosen-select, selected_value -->
        </div>
        <div>
          <%= f.label :is_strategic_management %>
          <%= f.check_box :is_strategic_management %>
        </div>
        <div>
          <%= f.label :is_project %>
          <%= f.check_box :is_project %>
        </div>
        <div>
          <%= f.label :indicators %>
          <%= f.select :indicators, options_for_select([['indicator1', '1']]) %> <!-- multiple, class: chosen-select, selected_values -->
        </div>
        <div>
          <%= f.label :management_summary %>
          <%= f.text_area :management_summary %>
        </div>
        <div><!--
          %= f.label :description_of_objectives %>
          %= f.text_area :description_of_objectives %>-->
        </div>
        <%= f.submit %>
        <%= link_to 'Cancel', edit_project_path(@project) %>
      <% end %>
    </div>
    <div id="tab-project-planning">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <div>
            <%= f.label :startDate %>
            <%= f.date_select :startDate %>
          </div>
          <div>
            <%= f.label :is_subproject %>
            <%= f.check_box :is_subproject %>
          </div>
          <div>
            <%= f.label :target_manp %>
            <%= f.text_field :target_manp %>
          </div>
          <div>
            <%= f.label :target_cost %>
            <%= f.text_field :target_cost %>
          </div>
          <div>
            <%= f.label :notes %>
            <%= f.text_area :notes %>
          </div>
          <div>
            Here should be the complex gantt diagram showing activities.
          </div>
          <%= f.submit %>
          <%= link_to 'Cancel', edit_project_path(@project) %>
      <% end %>
    </div>
    <div id="tab-project-resolutions">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <div>
            <%= f.label :decision_requirements_1 %>
            <%= f.text_area :decision_requirements_1 %>
          </div>
          <div>
            <%= f.label :decision_requirements_2 %>
            <%= f.text_area :decision_requirements_2 %>
          </div>
          <div>
            <%= f.label :decision_requirements_3 %>
            <%= f.text_area :decision_requirements_3 %>
          </div>
          <div>
            <%= f.label :decision_requirements_4 %>
            <%= f.text_area :decision_requirements_4 %>
          </div>
          <div>
            <%= f.label :scope %>
            <%= f.text_area :scope %>
          </div>
          <div>
            <%= f.label :obstacles_and_risks %>
            <%= f.text_area :obstacles_and_risks %>
          </div>
          <div>
            <%= f.label :open_issues %>
            <%= f.text_area :open_issues %>
          </div>
          <%= f.submit %>
          <%= link_to 'Cancel', edit_project_path(@project) %>
          <div id="document_drop_zone">
            <table>
              <% ['rechnung.pdf', 'ausschreibung.doc'].each do |filename| %>
              <tr>
                <td><%= filename %></td>
              </tr>
              <% end %>
            </table>
          </div>
      <% end %>
    </div>
    <div id="tab-project-calculation">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <div>
            <%= f.label :mid_term_planning %>
            <%= f.check_box :mid_term_planning %>
          </div>
          <div>
            <%= f.label :compensation %>
            <%= f.check_box :compensation %>
          </div>
          Hier fehlt die Tabelle mit den Daten, über Jahre...
          <%= f.submit %>
          <%= link_to 'Cancel', edit_project_path(@project) %>
      <% end %>
    </div>
    <div id="tab-project-status">
      <%= form_for :project, url: project_path(@project), method: :put do |f| %>
          <div>
            <%= f.label :status_notes %>
            <%= f.text_area :status_notes %>
          </div>
          <%= f.submit %>
          <%= link_to 'Cancel', edit_project_path(@project) %>
      <% end %>
    </div>
  </div>
</div>
